.productPage {
    display: flex;
    justify-content: center;
    padding-top: 3rem;

    .productDetail {
        display: flex;
        border: 1px solid rgb(195, 218, 255);
        border-radius: 25px;
        background-color: rgb(190, 255, 255);
        padding: 2rem;

        img {
            padding-right: 4rem;
        }

        .productDesc {
            padding-left: 3rem;

            button {
                border: none;
                background-color: rgb(113, 115, 255);
                padding: 7px;
                font-weight: bold;
                color: white;
                border-radius: 5px;

                &:hover {
                cursor: pointer;
                }
            }
        }
    }
}